.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: 100vh;
    position: relative;
}

.backArrow {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 5px;
    background-color: #d9bbff;
    border: 0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.backArrowIcon {
    color: #6b15dc;
    font-size: 20px;
    cursor: pointer;
}

.rating {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 10px 15px;
    border-radius: 20px;
}

.container h1 {
    font-size: 20px;
    font-weight: 400;
    color: rgb(119, 0, 255);
}

.container p {
    font-size: 20px;
    color: rgb(177, 113, 249);
}

.container span {
    color: orange;
}

.star {
    font-size: 20px;
    color: rgb(245, 126, 0);
}