.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-direction: center;
    gap: 20px;
}

.desc {
    font-size: 20px;
    background-color: rgb(226, 223, 251);
    padding: 5px 10px;
    border: 0;
    border-radius: 30px;
    color: rgb(57, 3, 220);
}

.btn {
    border: 0;
    padding: 10px 20px;
    background-color: #ffffff;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 1px 10px #aaa7a724;
    transition: all 0.3s ease;
}

.btn:hover {
    transform: translateY(-6px);
    box-shadow: 0 1px 10px #aaa7a75e;
}